apiVersion: apps/v1
kind: Deployment
metadata:   
  annotations:  
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas" 
  name: backend-tests-go-axvbhmlc
spec:
  replicas: 1 
  template: 
    spec:
      containers:
      - image: quay.io/rhtap_qe/backend-tests-go-axvbhmlc:1a6627ee5bb4fd2506b94c6c9e78ff30e35a38a7@sha256:4dfea9f3bb63e22b63adc5cac798e363fb67f9d7f192ef1b4f9a9f802546c761
        name: container-image  
